<div>
  <ul>
    <% page.posts.forEach(function(item) { %>
    <li>
      <h3><%- item.date.format('MMM DD, YYYY') %></h3>
      <h2>
        <a href="<%- url_for(item.path) %>">
          <% if(item.title !== "") { %>
            <% if (item.top) { %>
              <span>
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"><path fill="currentColor" d="M16 12V4h1V2H7v2h1v8l-2 2v2h5.2v6h1.6v-6H18v-2l-2-2Z"/></svg>
                <%- item.title %>
              </span>
            <% } else { %>
              <span><%- item.title %></span>
            <% } %>
          <% } else { %>
            <span>untitled</span>
          <% } %>
        </a>
      </h2>
    </li>
    <% }) %>
  </ul>
  
  <nav class="post-navigation">
    <% if(page.prev !== 0){ %>
      <a id="prev" class="index-nav" href="<%- url_for(page.prev_link)%>">&lt;&nbsp;NEWER</a>
    <% } %>
    <% if(page.next !== 0){ %>
      <a id="next" class="index-nav" href="<%- url_for(page.next_link)%>">OLDER&nbsp;&gt;</a>
    <% } %>
  </nav>
</div>
