<div class="post">
  <h3 class="date">
    <%- page.date.format('MMM DD, YYYY') %>
  </h3>
  <h1>
    <%- page.title %>
  </h1>
  <div class="content markdown-body">
    <%- page.more %>
  </div>
  <div class="tags">
    <%- tagcloud(page.tags) %>
  </div>
  <% if(theme.prevnext.enable) { %>
    <% if(page.next) { %>
      <a id="older" class="blog-nav" href="<%- url_for(page.next.path) %>">OLDER&nbsp;&gt;</a>
    <% } %>
    <% if(page.prev) { %>
      <a id="newer" class="blog-nav" href="<%- url_for(page.prev.path) %>">&lt;&nbsp;NEWER</a>
    <% } %>
  <% } %>
</div>